.Section3 {
  background-color: hsl(0, 0%, 98%);
  padding: 25px 50px;
}
.Section3_Display {
  display: flex;
  flex-direction: row;
  margin: 35px auto;
}
.Articles {
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  margin-right: 20px;
  width: 100%;
}
.Articles img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 30%;
}
.Cards {
  padding: 25px;
}

@media (min-width: 280px) and (max-width: 1000px) {
  .Section3 h2 {
    text-align: center;
    margin-top: 25px;
  }
  .Section3_Display {
    display: flex;
    flex-direction: column;
  }
  .Articles {
    margin: 25px auto;
    width: 100%;
  }
}
