h1,
h2,
h4,
h5 {
  color: hsl(233, 26%, 24%);
  font-weight: 300;
}
h4 {
  font-weight: 700;
}
h5 {
  font-weight: 400;
  font-size: 20px;
}
h5:hover {
  color: hsl(136, 65%, 51%);
  cursor: pointer;
}
p {
  color: hsl(233, 8%, 62%);
  line-height: 1.5rem;
}
span {
  color: gray;
  font-size: 14px;
}
